# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.

[include sensors.cfg]
[include KAMP_Settings.cfg]
[include motor_sync.cfg]
[include macros.cfg]
[include bedfans.cfg]
[include mainsail.cfg]
#[include sb_led.cfg]
[include speed_test.cfg]
#[include mesh.cfg]
#[include input_shaper.cfg]
[include speed.cfg]
[include tmcautotune.cfg]
[include shell_command.cfg]
[include shaketune.cfg]
#[include stridemax.cfg]
#[include chamber_heater.cfg]

[respond]

[exclude_object]

[gcode_arcs]
resolution: 0.1

[idle_timeout]
timeout: 7200

# driver 7
[stepper_x]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: PG6 #PG9
position_endstop: 310
position_max: 310
position_min: 0
homing_speed: 60
homing_retract_dist: 5
homing_positive_dir: true

[stepper_x1]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

# Driver6
[stepper_y]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
# step_pin: PG0
# dir_pin: !PG1
# enable_pin: !PF15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: PG9 #PG6 
position_endstop: 320
position_max: 320
position_min: 0
homing_speed: 60
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y1]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 4
#full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5
homing_speed: 20
homing_retract_dist: 0


# Driver3
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
rotation_distance: 4
#full_steps_per_rotation: 200
microsteps: 16

# Driver4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 4
#full_steps_per_rotation: 200


#[filament_switch_sensor material_0]
#switch_pin: PG12

#Driver5
[extruder]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
heater_pin: PA0
sensor_type: PT1000
sensor_pin: PF5
pullup_resistor: 4700
# spi_bus: spi3a
# spi_speed: 4000000
# spi_software_sclk_pin: PA5 #EXP2_2
# spi_software_mosi_pin: PA7 #EXP2_6
# spi_software_miso_pin: PA6 #EXP2_1
# rtd_use_50Hz_filter: True
# rtd_nominal_r: 1000
# rtd_reference_r: 4300
# rtd_num_of_wires: 2
microsteps: 16
gear_ratio: 50:8
rotation_distance: 21.577 #22.199057296 #21.3452474 #22.199057296
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_cross_section: 5
max_extrude_only_velocity: 120
pressure_advance: 0.036
#control: mpc
heater_power: 80  
cooling_fan: fan
filament_density: 1.20
filament_heat_capacity: 1.8
#block_heat_capacity: 28.4993
#sensor_responsiveness: 0.0870755
#ambient_transfer: 0.0895647
#fan_ambient_transfer: 0.0895647, 0.19642296, 0.20595985, 0.21175182, 0.21595981, 0.21928128, 0.22203301, 0.22438649, 0.22644532, 0.22827701
min_temp: 0
max_temp: 350

[verify_heater extruder]
max_error: 120
check_gain_time: 50
hysteresis: 10
heating_gain: 2

#[filament_switch_sensor material_1]
#switch_pin: PG13

# Driver6
#[extruder2]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB0 # HE2
#sensor_pin: PF6 # T2
#...

#[filament_switch_sensor material_2]
#switch_pin: PG14

# Driver7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PG15

[heater_bed]
heater_pin: PB11
sensor_pin: PF4 # TB
sensor_type: Generic 3950
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 130

[heater_generic chamber_heater]
# sensor_type: NTC 100K MGB18-104F39050L32
# sensor_pin: PF5
sensor_type: temperature_combined
sensor_list: temperature_sensor Chamber_high, temperature_sensor Chamber_mid
#   Must be provided. List of sensors to combine to new "virtual"
#   sensor.
#   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
combination_method: mean
#   Must be provided. Combination method used for the sensor.
#   Available options are 'max', 'min', 'mean'.
maximum_deviation: 999.9
#   Must be provided. Maximum permissible deviation between the sensors
#   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)
gcode_id: C
heater_pin: PD15
max_power: 1
min_temp: 0
max_temp: 90
control: pid
# pid_kp: 25.418
# pid_ki: 2.999
# pid_kd: 53.854
# pid_Kp:63.418 
# pid_Ki:1.342 
# pid_Kd:749.125
pid_Kp: 70.184
pid_Ki: 0.376
pid_Kd: 3274.071

[controller_fan chamber_fan]
pin: PD14
heater: chamber_heater
idle_timeout: 60
stepper:

[verify_heater chamber_heater]
hysteresis: 3
check_gain_time: 500
heating_gain: .1
check_gain_time:600
max_error: 500



# [multi_pin part_fans]
# pins: PA8, PE5

[fan]
pin: PB10
max_power: 1.0
kick_start_time: 0.5
hardware_pwm: True
cycle_time: 0.0005   # 2 kHz PWM frequency
shutdown_speed: 0
# pin: multi_pin:part_fans
# max_power: 1.0
# cycle_time: 0.01
# kick_start_time: 0.5                
# ##	Depending on your fan, you may need to increase this value
# ##	if your fan will not start. Can change cycle_time (increase)
# ##	if your fan is not able to slow down effectively
# off_below: 0 

[multi_pin bay_fans]
pins: PD12, PD13

[controller_fan my_controller_fan]
pin: multi_pin:bay_fans
max_power: 1
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
kick_start_time: 0.5
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
heater: heater_bed, extruder, chamber_heater
stepper: stepper_x, stepper_y
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

[heater_fan hotend]
pin: PE5
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#min_power:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#initial_speed:
#   See the "fan" section for a description of the above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

#[heater_fan fan2]
#pin: PD12

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4A002A000151313433343333-if00
# CAN bus is also available on this board

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 20
max_z_accel: 1000

[resonance_tester]
accel_chip: beacon
probe_points: 145, 145, 20
accel_per_hz: 100

[input_shaper]
shaper_freq_x: 112.6
shaper_type_x: mzv
shaper_freq_y: 86.4
shaper_type_y: mzv

########################################
# TMC5160 configuration
########################################

[tmc5160 stepper_x]
cs_pin: PD3
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5
# spi_speed: 3200000
spi_bus: spi1
interpolate: true
sense_resistor: 0.022
run_current: 2.0
stealthchop_threshold: 0

[tmc5160 stepper_x1]
cs_pin: PC4
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5
# spi_speed: 3200000
spi_bus: spi1
interpolate: true
sense_resistor: 0.022
run_current: 2.0
stealthchop_threshold: 0

[tmc5160 stepper_y]
cs_pin: PE1
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5
# spi_speed: 3200000
spi_bus: spi1
interpolate: true
sense_resistor: 0.022
run_current: 2.0
stealthchop_threshold: 0

[tmc5160 stepper_y1]
cs_pin: PD11
# spi_software_miso_pin: PA6
# spi_software_mosi_pin: PA7
# spi_software_sclk_pin: PA5
# spi_speed: 3200000
spi_bus: spi1
interpolate: true
sense_resistor: 0.022
run_current: 2.0
stealthchop_threshold: 0
########################################
# TMC2209 configuration
########################################

# [tmc2209 stepper_x]
# uart_pin: PC4
# #diag_pin: PG6
# run_current: 1.500
# sense_resistor: 0.110
# #stealthchop_threshold: 999999

# [tmc2209 stepper_y]
# uart_pin: PD11
# #diag_pin: PG9
# run_current: 1.50
# sense_resistor: 0.110
# #stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 1
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG11
run_current: 1
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 stepper_z2]
uart_pin: PF2
run_current: 1
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 extruder]
uart_pin: PE4
run_current: 0.65
#stealthchop_threshold: 999999
sense_resistor: 0.110

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 999999

[beacon]
contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 150, 135.6 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: True
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_A38D39D05154354D38202020FF0A352A-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -24.4 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
accel_axes_map: -x, -y, z

# [safe_z_home]
# home_xy_position: 143.5, 146 # update for your machine
# z_hop: 3
# speed: 150

[bed_mesh]
speed: 500
horizontal_move_z: 10
mesh_min: 16,20
mesh_max: 240,255
fade_start: 0.6
fade_end: 10.0
probe_count: 20, 20
algorithm: bicubic
zero_reference_position: 143.5, 146
adaptive_margin: 0

[z_tilt]
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   40, 25
   158, 250
   270, 25
speed: 350
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.0075


###DISPLAY#######################################
#################################################
[display]
##  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
contrast: 63
spi_bus: spi1
# spi_software_miso_pin: PA6 #EXP2_1 
# spi_software_mosi_pin: PA7 #EXP2_6
# spi_software_sclk_pin: PA5 #EXP2_2

[neopixel fysetc_mini12864]
# #	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

# #	Set RGB values on boot up for each Neopixel. 
# #	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4412409925365852,
#*# 	1.7490230720728133,
#*# 	0.7496356793987888,
#*# 	0.4071172515741852,
#*# 	0.34025693173100713,
#*# 	0.19916029667503926,
#*# 	-0.13922364200543075,
#*# 	-0.06774730733343402,
#*# 	0.21375131787209603,
#*# 	0.12094652817164776
#*# model_domain = 1.843605921074791e-07,1.895025586299949e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 69.118309
#*# model_offset = 0.02500
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 62.496
#*# pid_ki = 3.168
#*# pid_kd = 308.184
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 27.6757
#*# sensor_responsiveness = 0.0937938
#*# ambient_transfer = 0.101104
#*# fan_ambient_transfer = 0.101104, 0.174507, 0.207897, 0.222325, 0.235766, 0.241092, 0.248648, 0.254994
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.020859, 0.001253, -0.026594, -0.027323, -0.012625, 0.001837, 0.000646, 0.011732, 0.032511, 0.048912, 0.023527
#*# 	0.019318, 0.007181, -0.021259, -0.025689, -0.014145, 0.001307, -0.000399, 0.010528, 0.031054, 0.048053, 0.028112
#*# 	0.017249, -0.000263, -0.026835, -0.034342, -0.025018, -0.009818, -0.008215, 0.005782, 0.022646, 0.040179, 0.021948
#*# 	0.006007, -0.009780, -0.035023, -0.039450, -0.032316, -0.018379, -0.014396, -0.001330, 0.013171, 0.028843, 0.010107
#*# 	0.018977, -0.001248, -0.029304, -0.028998, -0.015105, -0.000256, 0.002341, 0.008681, 0.021048, 0.032561, 0.006559
#*# 	0.017545, -0.002300, -0.029978, -0.028980, -0.015076, 0.002137, 0.001593, 0.005674, 0.022814, 0.030502, 0.004155
#*# 	0.021676, 0.002634, -0.024059, -0.021279, -0.010527, 0.000972, 0.001951, 0.005152, 0.018403, 0.027028, -0.000211
#*# 	0.014669, -0.000819, -0.022373, -0.024841, -0.016437, -0.007107, -0.011575, -0.004342, 0.009574, 0.012330, -0.013272
#*# x_count = 11
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 76.0
#*# max_x = 210.0
#*# min_y = 90.0
#*# max_y = 194.0
#*#
#*# [chamber_heater]
#*# pid_version = 1
#*# pid_target = 75.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 25.418
#*# pid_ki = 2.999
#*# pid_kd = 53.854
