[temperature_sensor Octo_Pro]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor PI]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Chamber_high]
sensor_type: Generic 3950
sensor_pin: PF7
min_temp: 0
max_temp: 150

[temperature_sensor Chamber_mid]
sensor_type: Generic 3950
sensor_pin: PF3
min_temp: 0
max_temp: 150

[temperature_sensor Chamber_Heater]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF6
min_temp: 0
max_temp: 150

# [temperature_sensor Chamber]
# sensor_type: temperature_combined
# sensor_list: temperature_sensor Chamber, temperature_sensor Chamber_mid
# #   Must be provided. List of sensors to combine to new "virtual"
# #   sensor.
# #   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
# combination_method: mean
# #   Must be provided. Combination method used for the sensor.
# #   Available options are 'max', 'min', 'mean'.
# maximum_deviation: 999.9
# #   Must be provided. Maximum permissible deviation between the sensors
# #   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)
